
    

.container{
    top:20px;
    display:block;
    margin:30px;
    

    border:1px solid black;
    border-radius: 10px;
    max-width: 500px;
    background-color:lightpink;
    padding:10px;
}

    #wind{
       font-weight: bold;
       font-size:20px;
    }
 .predictions {


 color: black;
 font-weight: bold;
}

 
h1{
 text-align: left;
 font-weight: bold;
 
}
h5{
 text-align:left;
 font-size:x-large;
 margin-bottom: 10px;
}
h2{
 text-align: left;
 
 
font-size:30px;
margin-bottom: 50px;
}

 

#Temp{
 font-size: 40px;
 margin-left:30px;
 
}
h4{
 color:blue
}




.container.text-center{
 color:black;
 margin-left:0px;
 max-width:350px;
 
 
}
.text-center{
 text-align:left!important;
}
form{
 display:block;
}


